@page "/Capitanes/Listado"

@if (!renderizado)
{
    <div class="container">

        <div align="left" style="margin-top: 20px;">
            <hr />
            <h3>Listado de Capitanes</h3>
            <hr />

            <div style="margin-top:30px" class="row">
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Introduzca el nombre del capitán" @oninput="@(async (e) => await BuscarElemento(e))" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-6" align="right">
                    <button type="button" class="btn btn-primary" @onclick="() => AbreFormulario(0,0)">
                        Añadir Nuevo
                    </button>
                </div>
            </div>

            <table class="table table-sm table-responsive-sm table-bordered table-striped" style="margin-top:20px">
                <thead>
                    <tr class="table-primary text-center">
                        <th></th>
                        <th>Nombre</th>
                        <th>País</th>
                        @*<th>Baja</th>*@

                    </tr>
                </thead>
                <tbody>

                    @foreach (var capitan in listaCapitanes.Results)
                    {
                        //var Pais = listapaises.FirstOrDefault(x => x.Codigo == capitan.Nacionalidad);
                       
                        <tr>
                            <td>
                                <div class="row justify-content-lg-center">
                                    <div class="ml-1 table-button-column">
                                        <button type="button" class="btn btn-primary btn-xs rounded-circle" @onclick="@(async() => AbreFormulario(capitan.Id_Capitan,1))">
                                            <i class="fas fa-pencil-alt fa-xs"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs rounded-circle" @onclick="@(async() => EliminarCapitan(capitan))">
                                            <i class="far fa-trash-alt fa-xs"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>@capitan.Nombre</td>
                            <td>@capitan.Pais.Descripcion</td>
                            @*<td>@capitan.Baja</td>*@
                        </tr>
                    }

                </tbody>
            </table>
            <Paginator CurrentPage=@listaCapitanes.CurrentPage RowCount=@listaCapitanes.RowCount PageSize=@listaCapitanes.PageSize MaxPages="5" PageChanged=@(async (pagina) => await CambiaPagina(pagina))></Paginator>

        </div>

    </div>
}
else
{
    <div class="loader-background col-12">
        <div class="loader">
        </div>
    </div>
}
